In [ ]:
!pip install numpy

Requirement already satisfied: numpy in /usr/local/lib/python3.12/dist-packages (2.0.2)

In [ ]:
!pip install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.12/dist-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in /usr/local/lib/python3.12/dist-packages (from pandas) (2.0.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.12/dist-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.12/dist-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.12/dist-packages (from pandas) (2025.3)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.12/dist-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [ ]:
import numpy as np
import pandas as pd

CREATING A SERIES

In [ ]:
s1 = pd.Series([1, 23, 4, 2, 5, ])
s1

0     1
1    23
2     4
3     2
4     5
dtype: int64

CHANGING INDEX FOR SERIES

In [ ]:
s2 = pd.Series([2, 3, 4, 5, 6], index = ['a', 'b', 'c', 'd', 'e'])
s2

a    2
b    3
c    4
d    5
e    6
dtype: int64

dtype()

In [ ]:
s3 = pd.Series([40, 36, 57, 61, 74], index = ['Maths', 'Science', 'Hindi', 'Social', 'English'], dtype = float)
s3

Maths      40.0
Science    36.0
Hindi      57.0
Social     61.0
English    74.0
dtype: float64

CREATING SERIES USING DICTIONARY

In [ ]:
s4 = pd.Series({'Rice': 45, 'Toor Dal': 66, 'Sugar': 35})
s4

Rice        45
Toor Dal    66
Sugar       35
dtype: int64

DATAFRAME - 2D Data (or) Structure (or) 2D Array

In [ ]:
d1 = pd.DataFrame([3, 4, 5, 6, ])
d1

   0
0  3
1  4
2  5
3  6

2D ARRAY - DATAFRAME

In [ ]:
d2 = pd.DataFrame([['Maths', 89, 'A'], ['Science', 77, 'B'], ['English',80, 'B']], columns= ['Subject','Marks','Grade'])
d2

   Subject  Marks Grade
0    Maths     89     A
1  Science     77     B
2  English     80     B

CREATING A DATAFRAME FROM LIST OF DICTIONARIES

In [ ]:
dic = [{'Samsung': 45000, 'Oneplus': 42000, 'Apple': 47000}, {'Vivo': 23000, 'Oppo': 20225, 'Google': 43045}]
dic = pd.DataFrame(dic, index = ['Flipkart', 'Amazon'])
dic

          Samsung  Oneplus    Apple     Vivo     Oppo   Google
Flipkart  45000.0  42000.0  47000.0      NaN      NaN      NaN
Amazon        NaN      NaN      NaN  23000.0  20225.0  43045.0

DATAFRAME OPERATIONS

In [ ]:
d2

   Subject  Marks Grade
0    Maths     89     A
1  Science     77     B
2  English     80     B

In [ ]:
print(d2['Marks'])
print(d2['Grade'])

0    89
1    77
2    80
Name: Marks, dtype: int64
0    A
1    B
2    B
Name: Grade, dtype: object

In [ ]:
print(d1)
d = d1 * d1
d

   0
0  3
1  4
2  5
3  6

    0
0   9
1  16
2  25
3  36

POP()

In [ ]:
pop = d2.pop('Grade')
d2

   Subject  Marks
0    Maths     89
1  Science     77
2  English     80

DELETE()

In [ ]:
df1 = pd.DataFrame([['Maths', 89, 'A'], ['Science', 77, 'B'], ['English',80, 'B']], columns= ['Subject','Marks','Grade'])

   Subject  Marks Grade
0    Maths     89     A
1  Science     77     B
2  English     80     B

In [ ]:
del df1['Marks']
df1

   Subject Grade
0    Maths     A
1  Science     B
2  English     B

INSERT()

In [ ]:
df1.insert(1, 'Rank', [1, 2, 3])
df1

   Subject  Rank Grade
0    Maths     1     A
1  Science     2     B
2  English     3     B

APPEND()

In [ ]:
a = {'Subject': 'Social', 'Rank': 4, 'Grade': 'C'}
df11 = df1._append(a, ignore_index= True)
df11

   Subject  Rank Grade
0    Maths     1     A
1  Science     2     B
2  English     3     B
3   Social     4     C

GENERATING RANDOM NUMBER USING NUMPY RANDOM () and SIZE()

In [ ]:

d6 = pd.DataFrame({'ABC': np.random.randint(2,10, size=(10)), 'BCD': np.random.randint(11,20, size = (10)), 'EFG': np.random.randint(5,10,size = (10))})
d6

   ABC  BCD  EFG
0    9   13    5
1    9   11    5
2    2   17    6
3    4   15    9
4    6   14    8
5    4   15    8
6    7   18    7
7    8   12    6
8    9   15    5
9    5   13    6

In [ ]:
d7 = pd.DataFrame({'ID': np.random.randint(2,10, size=(10)), 'Coupon no': np.random.randint(111,202, size = (10)), 'Phone number': np.random.randint(111111,999999,size = (10))})
d7

   ID  Coupon no  Phone number
0   6        161        212505
1   3        200        163696
2   4        148        124500
3   2        200        803477
4   3        128        828104
5   2        186        806696
6   5        160        542712
7   4        124        113276
8   5        132        147914
9   3        134        326879

HEAD() & TAIL()

In [ ]:
d6.head() #returns starting 5 rows

   ABC  BCD  EFG
0    9   13    5
1    9   11    5
2    2   17    6
3    4   15    9
4    6   14    8

In [ ]:
d6.tail() #returns last 5 rows

   ABC  BCD  EFG
5    4   15    8
6    7   18    7
7    8   12    6
8    9   15    5
9    5   13    6

INFO()

In [ ]:
d6.info() #gives info about the DataFrame
d6.describe() #describes DataFrame with stats

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ABC     10 non-null     int64
 1   BCD     10 non-null     int64
 2   EFG     10 non-null     int64
dtypes: int64(3)
memory usage: 372.0 bytes

             ABC        BCD        EFG
count  10.000000  10.000000  10.000000
mean    6.300000  14.300000   6.500000
std     2.496664   2.162817   1.433721
min     2.000000  11.000000   5.000000
25%     4.250000  13.000000   5.250000
50%     6.500000  14.500000   6.000000
75%     8.750000  15.000000   7.750000
max     9.000000  18.000000   9.000000

LOC()

In [ ]:
print(d7.loc[6, 'Phone number']) #accessing 542712 from DataFrame

542712

In [ ]:
print(d7.loc[2:8,['ID', 'Phone number']])

   ID  Phone number
2   4        124500
3   2        803477
4   3        828104
5   2        806696
6   5        542712
7   4        113276
8   5        147914

In [ ]:
print(d7.loc[[7,8,9],['Coupon no', 'Phone number']])

   Coupon no  Phone number
7        124        113276
8        132        147914
9        134        326879

ILOC()

In [ ]:
print(d7.iloc[7,2])

113276

In [ ]:
print(d7.iloc[4:10],[0,9])

   ID  Coupon no  Phone number
4   3        128        828104
5   2        186        806696
6   5        160        542712
7   4        124        113276
8   5        132        147914
9   3        134        326879 [0, 9]

In [ ]:
d7.ID

0    6
1    3
2    4
3    2
4    3
5    2
6    5
7    4
8    5
9    3
Name: ID, dtype: int64

VALUES

In [ ]:
d7.ID.values #returns 1D ARRAY

array([6, 3, 4, 2, 3, 2, 5, 4, 5, 3])

In [ ]:
d6['XYZ'] = d6.ABC.values - d6.BCD.values #performing operations on Arrays
d6

   ABC  BCD  EFG  XYZ
0    9   13    5   -4
1    9   11    5   -2
2    2   17    6  -15
3    4   15    9  -11
4    6   14    8   -8
5    4   15    8  -11
6    7   18    7  -11
7    8   12    6   -4
8    9   15    5   -6
9    5   13    6   -8

ANALYSING DATAFRAMES

In [ ]:
x = [['Apple', '15 Pro', 2024, 67000], ['Samsung', 'S25 Ultra', np.nan, 79999], ['Google', 'Pixel6', 2025, 67666]]
df2 = pd.DataFrame(x, columns= ['Brand', 'Model', 'Year_of_Manufacture', 'Price'])
df2

     Brand      Model  Year_of_Manufacture  Price
0    Apple     15 Pro               2024.0  67000
1  Samsung  S25 Ultra                  NaN  79999
2   Google     Pixel6               2025.0  67666

In [ ]:
y = df2[df2.Price>=65000]
print(y)
y[['Brand', 'Price']]

     Brand      Model  Year_of_Manufacture  Price
0    Apple     15 Pro                 2024  67000
1  Samsung  S25 Ultra                 2023  79999
2   Google     Pixel6                 2025  67666

     Brand  Price
0    Apple  67000
1  Samsung  79999
2   Google  67666

In [ ]:
df2._append({'Brand': 'OnePlus', 'Model': 'Nord CE3', 'Year_of_Manufacture': 2024, 'Price': 12000}, ignore_index = True)

     Brand      Model  Year_of_Manufacture  Price
0    Apple     15 Pro                 2024  67000
1  Samsung  S25 Ultra                 2023  79999
2   Google     Pixel6                 2025  67666
3  OnePlus   Nord CE3                 2024  12000

In [ ]:
df2._append({'Brand': 'Nokia', 'Model': '1100', 'Year_of_Manufacture': np.nan, 'Price': 2500}, ignore_index = True)

     Brand      Model  Year_of_Manufacture  Price
0    Apple     15 Pro               2024.0  67000
1  Samsung  S25 Ultra               2023.0  79999
2   Google     Pixel6               2025.0  67666
3    Nokia       1100                  NaN   2500

ISNULL()

In [ ]:
df2.isnull()

   Brand  Model  Year_of_Manufacture  Price
0  False  False                False  False
1  False  False                 True  False
2  False  False                False  False

ISNULL().SUM()

In [ ]:
print(df2.isnull().sum()) #finding where there are null values

Brand                  0
Model                  0
Year_of_Manufacture    1
Price                  0
dtype: int64

INFO()

In [ ]:
df2.info() #gives info of the dataframe

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 4 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Brand                3 non-null      object
 1   Model                3 non-null      object
 2   Year_of_Manufacture  2 non-null      float64
 3   Price                3 non-null      int64
dtypes: float64(1), int64(1), object(2)
memory usage: 228.0+ bytes

DROPNA()

In [ ]:
df2.dropna() #drops the whole row where there is a null value

    Brand   Model  Year_of_Manufacture  Price
0   Apple  15 Pro               2024.0  67000
2  Google  Pixel6               2025.0  67666

In [ ]:
df2

     Brand      Model  Year_of_Manufacture  Price
0    Apple     15 Pro               2024.0  67000
1  Samsung  S25 Ultra                  NaN  79999
2   Google     Pixel6               2025.0  67666

FILLNA()

In [ ]:
df2.fillna(value = '2023') #filling null values with specified value

     Brand      Model Year_of_Manufacture  Price
0    Apple     15 Pro              2024.0  67000
1  Samsung  S25 Ultra                2023  79999
2   Google     Pixel6              2025.0  67666

In [ ]:
df2

     Brand      Model  Year_of_Manufacture  Price
0    Apple     15 Pro               2024.0  67000
1  Samsung  S25 Ultra                  NaN  79999
2   Google     Pixel6               2025.0  67666

INPLACE ATTRIBUTE

In [ ]:
df2.drop([2], axis=0, inplace=True) #used to take permanent action
df2

     Brand      Model  Year_of_Manufacture  Price
0    Apple     15 Pro               2024.0  67000
1  Samsung  S25 Ultra                  NaN  79999